/* NavBar.module.css */

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 0px;
  background-color: #ffffff;
  max-width: var(--max-width);
}

.left {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.right {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.name {
  font-size: 1.25rem;
}

.menu {
  display: flex;
  align-items: center;
  gap: 1.25rem;
  cursor: pointer;
}

.balance {
  font-size: 1.25rem;
  padding-right: 0.5rem;
}

.icon {
  margin-top: 0.25rem;
}
.markIcon {
  font-size: 1rem;
  background-color: #ff69a1;
  color: white;
  width: 3rem;
  border-radius: 0.5rem;
  text-align: center;
}
.iconMarket {
  margin-top: 0.25rem;
}
