.nav {
  font-size: 1.25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 0 1rem;
  height: 4rem;
}

.right {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.markIcon {
  font-size: 1.5rem;
  background-color: #ff69a1;
  color: white;
  padding: 0rem 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  cursor: pointer;
}

.market {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  cursor: pointer;
}

.profile {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  cursor: pointer;
}
