/* TradeLotCard.module.css */

.card {
    background-color: #f2f2f2;
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
    width: 35%;
  }
  
  .header {
    display: flex;
    align-items: center;
    margin-bottom: 0.625rem;
  }
  
  .number {
    font-size: 1.125rem;
    font-weight: bold;
    color: #0039CA;
  }
  
  .price {
    margin-top: 1.5rem;
    font-size:  0.875rem;
  }
  
  .body {
    margin-bottom: 0.625rem;
  }
  
  .description,
  .performer {
    font-size: 0.875rem;
    font-weight: 700;
  }
  
  .description {
    margin-bottom: 0.3125rem;
  }
  
  .performer {
    margin-top: 1.5rem;
    margin-bottom: 0.3125rem;
  }

  .pink {
    color: #F26097;
    font-size: 0.875rem;
    font-weight: 400;
  }

  .bigBlue {
    color: #0039CA;
    font-size: 1.125rem;
  }

  .smallBlue {
    color: #0039CA;
  }
  
  .conditions {
    font-size: 0.875rem;
    font-style: italic;
    margin-top: 1.5rem;
    font-weight: 300;
  }

  .footer {
    margin-top: 1rem;
    display: flex;
    justify-content: flex-end;
  }
  
  .button {
    margin-right: 2rem;
    padding: 0.5rem 1rem;
    color: #0039CA;
    border: 0.08rem solid #BFC4F1;
    border-radius: 0.7rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .button:hover {
    background-color:#8498FF;
    color: white;
  }
  
  
  