/* Exit-Button Module */

.button {
  padding: 0.5rem 1.25rem;
  font-size: 1.125rem;
  font-weight: 700;
  background-color: #ffffff;
  border: 0.1rem solid black;
  border-radius: 0.75rem;
  display: flex;
  justify-content: center;
  gap: 0.3rem;
  align-items: center;
  cursor: pointer;
  transition: ease-in-out 0.2s;
}

.button:hover {
  border: 0.1rem solid white;
  background: #ff69a1;
  color: white;
}
