.wrapper {
  width: 100%;
  padding: 0px;
  margin: 0 auto;
}

.container {
  width: 86%;
  min-width: 900px;
  max-width: 1640px;
  border-radius: 0px;
  margin: 0 auto;
}

/* HEADER */

.header_box {
  width: 100%;
  height: 72px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 39px;
}

.main_page_button {
  width: 173px;
  height: 44px;
  border-radius: 12px;
  border: 1px solid #767676;
  background: white;
  color: #000;
  text-align: center;
  font-family: inherit;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  cursor: pointer;
}

.right_header_box {
  display: flex;
  flex-direction: row;
  gap: 46px;
}

.image_and_text_box {
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: center;
}

.balance_counter {
  font-family: inherit;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  color: #2D2D2D;
}

.username {
  font-family: inherit;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  color: #2D2D2D;
}


/* CONTENT */

.page_label {
  color: #2D2D2D;
  text-align: center;
  font-size: 42px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  margin: 0;
}

.lots_container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px 30px;
  justify-content: flex-start;
  margin-top: 60px;
}

.lot {
  box-sizing: border-box;
  width: 48.3%;
  min-width: 300px;
  border-radius: 18px;
  border: 1px solid var(--unnamed, #BFC4F1);
  padding: 45px 25px 26px 70px;
  background: #F8F5FF;
}

.lot_name {
  color: #0039CA;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  margin: 0;
}

.lot_content {
  color: #2D2D2D;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  margin-top: 15px;
  margin-bottom: 30px;
}

.lot_holder {
  color: #F26097;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  margin: 5px 0px;
}

.lot_holder_name {
  margin: 0;
  color: #2D2D2D;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
}

.lot_price_container {
  display: flex;
  height: 39px;
  flex-direction: row;
  align-items: center;
  gap: 15px;
  margin-top: 30px;
}

.lot_price {
  color: #2D2D2D;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  margin: 0;
}

.lot_price_count {
  color: #0039CA;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  margin: 0;
}

.lot_condition {
  color: #0039CA;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}

.lot_condition_value {
  word-wrap: break-word;
  color: #2D2D2D;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  margin-top: 15px;
  margin-bottom: 30px;
}

.application_lot_button {
  width: 155px;
  height: 40px;
  border-radius: 12px;
  border: 1px solid #BFC4F1;
  background: white;
  float: right;
  color: #0039CA;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  cursor: pointer;
  font-family: inherit;
  transition-duration: 0.4s;
}

.application_lot_button:hover {
  color: white;
  background: #8497FF
}