/* Exit-Button Module */

.button {
    padding: 0.5rem 2.5rem;
    font-size: 1.5rem;
    background-color: #E1F8FF;
    border: none;
    border-radius: 0.75rem;
    align-items: center;
    cursor: pointer;
  }