/* Exit-Button Module */

.button {
  padding: 0.7rem 1.5rem;
  background-color: #e1f8ff;
  border: none;
  border-radius: 0.75rem;
  display: flex;
  justify-content: center;
  gap: 0.75rem;
  align-items: center;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.button p {
  font-family: inherit;
  font-weight: 700;
  font-size: 1.125rem;
}

.button:hover {
  background-color: #c7f1ff;
}
