/* Exit-Button Module */

.button {
  /*padding: 0.5rem 2.5rem;*/
  font-size: 1rem;
  padding: 0.6rem 0.75rem;
  background-color: #e1f8ff;
  border: none;
  border-radius: var(--button-border-radius);
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  align-items: center;
  cursor: pointer;
}
