/* Exit-Button Module */

.button {
  /*padding: 0.5rem 2.5rem;*/
  padding: 0.75rem 2rem;
  font-size: var(--f-size-20);
  background-color: #e1f8ff;
  border: none;
  border-radius: var(--button-border-radius);
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  align-items: center;
  cursor: pointer;
}
