.wrapper {
  width: 100%;
  padding: 0;
  margin: 0 auto;
  max-width: 90rem;
  min-width: 56.25rem;
}

.page_label {
  color: #2d2d2d;
  text-align: center;
  font-size: 2.625rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  margin: 0;
}

.content_container {
  margin-top: 3.125rem;
  padding-bottom: 12.5rem;
}

.balance_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 2.25rem;
}

.balance_container p {
  color: #2d2d2d;
  font-size: 1.625rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 0;
}

.balance_container button {
  width: 20.625rem;
  height: 3.4375rem;
  border-radius: 0.75rem;
  border: none;
  background: #e1f8ff;
  color: black;
  text-align: center;
  font-family: inherit;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  cursor: pointer;
  transition-duration: 0.4s;
}

.balance_container button:hover {
  background: #ff69a1;
  color: white;
}

.user_data_container {
  width: 100%;
  box-sizing: border-box;
  padding: 1.875rem 3.75rem;
  border-radius: 0.625rem;
  background: #f2f3fc;
  margin-top: 2.375rem;
}

.user_data_label {
  color: #2d2d2d;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 1.5625rem;
}

.user_data {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  gap: 1.125rem;
}

.user_data_component {
  display: flex;
  flex-direction: row;
  gap: 0.625rem;
  align-items: center;
  border-radius: 0.625rem;
  background: #fff;
  padding: 0.5rem;
}

.user_data_component p {
  color: #2d2d2d;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
