.title {
    text-align: center;
    font-size: 2rem;
    margin: 2rem 0;
}

.row {
    display: flex;
    direction: row;
    justify-content: space-between;
    margin: 2rem 1rem;
    width: 70%;
    margin-left: 15%;
}

.left {
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
}

.name {
    font-size: 1.5rem;
    font-weight: 700;
}

.role {
    font-size: 1.2rem;
    font-weight: 500;
    color: #6D6AFF;
}

.buttonRedux {
    padding: 1rem 1rem;
    border: none;
    background-color: #E1F8FF;
    font-size: 1rem;
    border-radius: 0.75rem;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    font-weight: 600;
}

.buttonRedux:hover {
    background-color: white;
}

.balance {
    font-size: 1.2rem;
}

.line {
    margin-top: 1.5rem;
    margin-left: 15%;
    display: flex;
    direction: row;
    align-items: center;
    gap: 2rem;
    font-size: 1.2rem;

}

.deleteButton {
    padding: 1rem 1rem;
    border: none;
    padding: 1rem 3rem;
    color: white;
    background-color: #FF6D6D;
    font-size: 1rem;
    border-radius: 0.75rem;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    font-weight: 600;
}

.buttonContainer {
    display: flex;
    direction: row;
    margin-top: 2rem;
    justify-content: flex-start;
    align-items: center;
    width: 70%;
    margin-left: 15%;
    gap: 3rem;
}
.deleteButton:hover {
    background-color: #FF4F4F;
}

.underlineText {
    margin-left: 15%;
    margin-top: 5rem;
    font-size: 1.5rem;
}

.buttonUp {
    margin-top: 1rem;
    padding: 1rem 1rem;
    margin-left: 15%;
    border: 1px solid #C2C2C2;
    background-color: white;
    font-size: 1rem;
    border-radius: 0.75rem;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    font-weight: 600;
}

.buttonUp:hover {
    background-color: #F2F2F2;
}