.user_data_component {
  display: flex;
  flex-direction: row;
  gap: 0.625rem;
  align-items: center;
  border-radius: 0.625rem;
  background: #fff;
  padding: 0.5rem;
}

.user_data_component p {
  color: #2d2d2d;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
