/* Exit-Button Module */

.button {
    padding: 0.5rem 2rem;
    font-size: 1.5rem;
    background-color: #FFFFFF;
    border: 0.1rem solid black;
    border-color: black;
    border-radius: 0.75rem;
    align-items: center;
    cursor: pointer;
  }