.title {
  text-align: center;
  font-weight: 700;
  font-size: 2rem;
  margin: 1rem 0;
}

.redux_button_container {
  display: flex;
  justify-content: flex-end;
}

.buttonRedux {
  padding: 1rem 1.5rem;
  border: none;
  background-color: #e1f8ff;
  font-size: 1.2rem;
  font-weight: 700;
  border-radius: 0.75rem;
  transition: 0.2s ease-in-out;
}

.buttonRedux:hover {
  background-color: #c7f1ff;
}

.grade_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.grade {
  font-size: 2rem;
  font-weight: 700;
}

.grade_value {
  font-size: 2.5rem;
  font-weight: 700;
}

.grade_value[data-grade='0'],
.grade_value[data-grade='1'],
.grade_value[data-grade='2'],
.grade_value[data-grade='3'] {
  color: #ff3b30; /* Red */
}

.grade_value[data-grade='4'],
.grade_value[data-grade='5'] {
  color: #ff9500; /* Orange */
}

.grade_value[data-grade='6'],
.grade_value[data-grade='7'] {
  color: #ffd700; /* Yellowish-Green */
}

.grade_value[data-grade='8'],
.grade_value[data-grade='9'],
.grade_value[data-grade='10'] {
  color: #4cd964; /* Green */
}

.grade_props {
  margin-top: 1.5rem;
}

.deleteBtnContainer {
  display: flex;
  justify-content: flex-end;
}
