.wrapper {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.pageLabel {
  font-size: 20px;
  font-weight: bold;
  line-height: 24px;
  text-transform: capitalize;
  margin-left: 1rem;
}

.lotsContainer {
  display: flex;
  flex-flow: row wrap;
  gap: 1.5rem;
  justify-content: center;
}

.filtersMock {
  display: flex;
  justify-content: center;
  align-items: center;

  max-width: 1400px;
  height: 124px;
  border: 1px solid #d8d8d8;
  border-radius: 8px;
  background-color: #fafafa;

  font-size: 20px;
  text-transform: uppercase;
}
