.wrapper {
  width: 100%;
  padding: 0;
  margin: 0 auto;
  max-width: 90rem;
  min-width: 56.25rem;
}

.page_label {
  color: #2d2d2d;
  text-align: center;
  font-size: 2.625rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  margin: 0;
}

.lots_container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.875rem;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 3.75rem;
}

.lot {
  box-sizing: border-box;
  width: 3.01875rem;
  min-width: 18.75rem;
  border-radius: 1.125rem;
  border: 1px solid var(--unnamed, #bfc4f1);
  padding: 2.8125rem 1.5625rem 1.625rem 4.375rem;
  background: #f8f5ff;
}

.lot_name {
  color: #0039ca;
  font-size: 1.75rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  margin: 0;
}

.lot_content {
  color: #2d2d2d;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  margin-top: 0.9375rem;
  margin-bottom: 1.875rem;
}

.lot_holder {
  color: #f26097;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  margin: 0.3125rem 0;
}

.lot_holder_name {
  margin: 0;
  color: #2d2d2d;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
}

.lot_price_container {
  display: flex;
  height: 2.4375rem;
  flex-direction: row;
  align-items: center;
  gap: 0.9375rem;
  margin-top: 1.875rem;
}

.lot_price {
  color: #2d2d2d;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  margin: 0;
}

.lot_price_count {
  color: #0039ca;
  font-size: 1.625rem;
  font-style: normal;
  font-weight: 700;
  margin: 0;
}

.lot_condition {
  color: #0039ca;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
}

.lot_condition_value {
  word-wrap: break-word;
  color: #2d2d2d;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  margin-top: 0.9375rem;
  margin-bottom: 1.875rem;
}

.application_lot_button {
  width: 9.6875rem;
  height: 2.5rem;
  border-radius: 0.75rem;
  border: 1px solid #bfc4f1;
  background: white;
  float: right;
  color: #0039ca;
  text-align: center;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  cursor: pointer;
  font-family: inherit;
  transition-duration: 0.4s;
}

.application_lot_button:hover {
  color: white;
  background: #8497ff;
}
