.container {
  max-width: 800px;

  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  gap: 1rem;

  padding: 1.5rem 1.5rem 0 2rem;
}

.title {
  font-size: 24px;
  font-weight: bold;
}

.titleContainer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  gap: 1.5rem;

  /* border-radius: 10px;
  border: 1px solid #f0f0f0;
  background-color: white; */
  /* padding: 1rem 1.5rem; */
}

.profileCard {
  /* background-color: white;
  border-radius: 10px;
  border: 1px solid #f0f0f0; */
  /* padding: 1rem 1.5rem; */
}

.header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-start;
}

.name {
  font-size: 20px;
  font-weight: bold;
  line-height: 24px;
}

.role {
  font-size: 16px;
  line-height: 19px;
  color: #1677ff;
}

.balance {
  font-size: 14px;
  font-weight: bold;
  line-height: 17px;
}

.balanceNumber {
  font-size: 16px;
  font-weight: bold;
  line-height: 19px;
  color: #1677ff;
  margin-inline-start: 8px;
}

.content {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  gap: 1rem;

  margin-top: 1.5rem;
}

.propertiesContainer {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
}

.property {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 4px;
}

.propertyTitle {
  font-size: 14px;
  line-height: 17px;
  display: flex;
  gap: 4px
}

.propertyValue {
  font-size: 16px;
  font-weight: bold;
  line-height: 19px;
}

.teamValue {
  text-decoration: underline;
  cursor: pointer;
}

.deleteBtnContainer,
.riseBtnContainer {
  padding-top: 1rem;
  padding-bottom: 0.5rem;
}

.finalGradeContainer {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 1.5rem;
  gap: 1rem;
}
