.button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  background-color: #e1f8ff;
  border: 0.1rem solid #98a6aa;
  border-color: #98a6aa;
  border-radius: 0.75rem;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.button:hover {
  background-color: white;
}
