/* AdminPage.module.css */

  .buttonRow {
    display: flex;
    direction: row;
    justify-content: space-between;
    margin: 2rem 5.5rem;
  }
  
  .button {
    border-radius: 0.75rem;
    padding: 1rem 1.5rem;
    border: none;
    background-color: #AC88D9;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
  }

  .button:hover {
    background-color: #8C6FC4;
  }
  
  .row {
    display: flex;
    direction: row;
    justify-content: center;
    gap: 5rem;
    margin: 2rem 3rem;
  }
  
  .rectangle {
    width: 16rem;
    height: 12rem;
    padding: 1rem 2rem;
    margin-bottom: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 0.1rem solid #BFBFBF;
    border-radius: 1rem;
    transition: background-color 0.2s ease-in-out;
  }
  .rectangle:hover {
    background-color: #F2F2F2;
  }
  
  
  