/* AdminPage.module.css */

.button {
    border-radius: var(--button-border-radius);
    padding: 1rem 1.5rem;
    border: none;
    background-color: #AC88D9;
    color: white;
    font-size: var(--f-size-20);
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.button:hover {
    background-color: #8C6FC4;
}

/*.buttonRow {
  display: flex;
  direction: row;
  justify-content: space-between;
  margin: 2rem 5.5rem;
}

.button {
  border-radius: 0.75rem;
  padding: 1rem 1.5rem;
  border: none;
  background-color: #AC88D9;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.button:hover {
  background-color: #8C6FC4;
}

.row {
  display: flex;
  direction: row;
  justify-content: center;
  gap: 5rem;
  margin: 2rem 3rem;
}

.rectangle {
  width: 16rem;
  height: 12rem;
  padding: 1rem 2rem;
  margin-bottom: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 0.1rem solid #BFBFBF;
  border-radius: 1rem;
  transition: background-color 0.2s ease-in-out;
}
.rectangle:hover {
  background-color: #F2F2F2;
}*/

.buttonRow {
    display: flex;
    justify-content: flex-end;
    padding-top: var(--section-gap);
}

.card_wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding-top: var(--section-gap);
}

.card {
    padding: 3.5rem 2rem;
    border-radius: var(--border-radius);
    border: 1px solid var(--border-color);
    font-size: var(--f-size-24);
    flex: 1 0 calc(25% - 1.5rem);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: .1s ease-in-out;
}

.card:hover {
    background-color: #F2F2F2;
}

.card__text {
    font-size: var(--f-size-24);
}

