.title {
  text-align: center;
  font-weight: 700;
  font-size: 2rem;
  margin: 1rem 0;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.theme {
  font-size: 1.25rem;
  font-weight: 700;
}

.buttonRedux {
  padding: 1rem 1.5rem;
  border: none;
  background-color: #e1f8ff;
  font-size: 1.2rem;
  font-weight: 700;
  border-radius: 0.75rem;
  transition: 0.2s ease-in-out;
}

.buttonRedux:hover {
  background-color: #c7f1ff;
}

.sign {
  font-size: 1.1rem;
  font-weight: 700;
  margin-top: 2.5rem;
}

.delete_button {
  float: right;
  background-color: #ff6d6d;
  border: none;
  border-radius: 0.75rem;
  padding: 0.8rem 2.5rem;
  color: white;
  font-size: 1.2rem;
  font-weight: 700;
  margin-top: 2rem;
  margin-bottom: 5rem;
}

.delete_button:hover {
  background-color: #ff4f4f;
}
